var TextFr ={
  gettext : function(){
    var str="“自动控制原理”课程是自动化专业及相关专业的学科基础课程，是一门理论与实践并重，工程性、综合性、方法性、实践性很强的课程。\n自动控制技术已经广泛地应用于各类工程学科以及各类非工程学科。“自动控制原理”课程是自动化类专业的核心课程，是电气类、电子信息类、计算机类、仪表类专业的重要课程。根据教育部发布的《普通高等学校本科专业目录（2012年）》，“自动控制原理”课程面向的相关专业包括自动化、测控技术与仪器、电气工程及其自动化、电子信息工程、计算机科学与技术等。本课程主要介绍经典控制理论的基本内容，通过课程教学达到以下目标：\n1）使学生掌握经典控制理论的基本概念，掌握在时域和频域中，对线性定常系统的稳定性、动态性能和稳态性能进行分析的方法。\n2）使学生能理论联系实际，将抽象的数学模型与实际系统联系，根据性能指标的要求，合理地选择参数，对系统进行综合与校正。\n3）使学生了解自动控制技术在社会发展中的作用及与其他学科的关系，了解自动控制学科的发展,为“自控原理（二）”和其他后续专业课程打下良好基础。\n本课程2005年获湖北省精品课程。"
    // afterstr = str.replace(/\n/g,"<br>");
    return str
  }
}
module.exports ={
  gettext:TextFr.gettext
}